#pro_datails .single_pro_image{
width: 40%;
margin-right: 50px;
}
.small_img_group{
    display: flex;
    justify-content: space-between;
}
.small_img_col{
    flex-basis: 24%;
    cursor: pointer;
}
#pro_datails{
    display: flex;
    margin-top: 20px;
}
#pro_datails .single_pro_details{
    width: 50%;
    padding-top: 30px;
}
#pro_datails .single_pro_details h4{
    padding: 40px 0 20px 0;
}
#pro_datails .single_pro_details h2{
  font-size: 26px ;
}
#pro_datails .single_pro_details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#pro_datails .single_pro_details select:focus{
    outline: none;
}
#pro_datails .single_pro_details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #222;
}
#pro_datails .single_pro_details input:focus{
    outline: none;
}
#pro_datails .single_pro_details a button{
 background: #008178;
 color: #fff;
}
#pro_datails .single_pro_details  span{
    line-height: 25px;
}

@media(max-width:477px){
#pro_datails{
    display: flex;
    flex-direction: column;
  }
  #pro_datails .single_pro_image {
    width: 100%;
    margin-right: 50px;
  }
  #pro_datails .single_pro_details{
    width: 100%;
  }
} 